body {
    color: #6e768f;
    font-family: 'Open Sans', serif;
    font-size: 14px;
}

form {
    width: 75%;
    margin: 0 auto;
}

section {
    /*border: 1px solid #76a7e1;*/
}

h1 {
    text-transform: uppercase;
}

.header-section {
    height: 200px;
}

.top-submit-section {
    width: 60%;
    display: inline-block;
}

.top-info {
    padding: 15px;
    width: 30%;
    display: inline-block;
    border-left: 1px solid #6e768f;
}

.top-info address:first-of-type {
    float: left;
}

.top-info address:last-of-type {
    float: right;
}

/*.top-info address:nth-child(2) {*/
    /*float: right;*/
/*}*/

address {
    font-style: normal;
    font-weight: 600;
}


.header-section button {
    width: 150px;
    height: 50px;
    border: 1px solid #d7d9e0;
    text-transform: uppercase;
    font-size: 14px;
}

.header-section table {
    float: left;
    margin-right: 50px;
}

.upload-file-section h2 {
    display: inline;
}

.upload-file-section table {
    border: 1px solid #d7d9e0;
    width: 100%;
}

.upload-file-section table td {
text-align: center;
}

.file-upload-btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #d7d9e0;
    background: #f7f7fa;
    border-radius: 3px;
    width: 150px;
    height: 50px;
}

.delete-btn {
    background-color:transparent;
    border:none;
}

.language select {
    text-align: center;
    text-align-last:center; /*work only with chrome*/
    background: #f7f7fa;
    width: 150px;
    height: 50px;
    font-size: 14px;
    color: #6e768f;
    border: 1px solid #d7d9e0;
    border-radius: 3px;
}

.language button {
    height: 50px;
    background: #f7f7fa;
    border: 1px solid #d7d9e0;
    color: #6e768f;
}

.desire-tone, .urgent, .urgent section  {
    width: 45%;
    display: inline-block;
}

.urgent p {
    display: inline-block;
}

.urgent input {
    display: block;
    width: 100%;
}

.under-range:first-of-type{
    float:left;
    width: 33.3%
}

.under-range:nth-last-of-type(2){
    float: left;
    width: 33.3%;
    text-align: center;
}

.under-range:last-of-type{
    float:right;
    width: 33.3%;
    text-align: right;
}



.what-you-want {
    text-align: center;
}

.what-you-want > hr {
    width: 400px;
}

.select-translate > input {
    visibility: hidden;
    position: absolute;
}

.select-translate > input + img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
    width: 25%;
    height: 25%;
}

.select-translate > input:checked + img {
    border: 5px solid #76a7e1;
}

.select-payment > input {
    visibility: hidden;
    position: absolute;
}

/*.payment fieldset {*/
    /*border: 0;*/
/*}*/


.select-payment > input + img {
    cursor: pointer;
    border: 2px solid transparent;
    width: 20%;
    height: 20%;
}

.select-payment > input:checked + img {
    border: 5px solid #5472ff;
}

.select-desire {
    display: block;
}

.select-desire > input {
    visibility: hidden;
    position: absolute;
}

.select-desire > input + img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
    width: 50%;
    height: 50%;
}

.select-desire > input:checked + img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 5px solid #5472ff;
}

.urgent .timeline-info {
    width: 100%;
    border: 1px solid #6e768f;
    padding: 15px;
}

/*Styles for input[type=range]*/
input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.payment label > input {
    display: block;
    border:solid 1px #ccc;
    border-radius: 3px;
    height: 30px;
}

.bottom-submit-section {
    float: right;
}

.bottom-submit-section button {
    width: 150px;
    height: 50px;
    border: 1px solid #d7d9e0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.submit-btn {
    background: #5fcac6;
    border: 1px solid #54aca9;
    color: white;
}



.vip {
    color: #ffc500;
    text-transform: uppercase;
}


